@mixin indep
    position: absolute

@mixin center
    position: absolute
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)

@mixin trans($s)
    transition: $s

@mixin size($w,$h)
    width: $w
    height: $h

@mixin fill
    width: 100%
    height: 100%

@mixin text($size,$spacing,$color)
    font-size: $size
    letter-spacing: $spacing
    color: $color
    @charset "UTF-8"

html,body
    width: 100%
    height: 100%
    margin: 0px
    background: radial-gradient(ellipse at center, #CBCBD4 0%, #e5e9ec 100%)
    display: flex

.LoginBox
    +center
    background-color: #fefefe
    border: solid 1px #cdd8dc
    border-radius: 6px
    width: 900px
    height: 500px
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    h1
        font-size: 50px
    a
        font-size: 14px
        color: rgb(177, 169, 169)
        align-self: flex-end
    .section
        display: flex
        flex-direction: column

.Login_text
    display: inline-block
    width: 400px
    height: 40px
    border: solid 1px #d4d8db
    /* #b5d4e9 #f3f7f7*/
    background-color: #ffffff
    border-radius: 3px
    // margin: 10px
    padding: 5px
    color: #333
    letter-spacing: 0.5px
    font-size: 16px
.bottom_row
    position: absolute
    display: flex
    bottom: 0px
    padding: 40px
    width: 818px

    border: solid 1px #dde0e7
    background: linear-gradient(to bottom, #f4f5f7 , #f0f5f8 , #eff4f7)
    a
        // border-radius: 8px
        // color: #333
        // font-weight: bold
        // text-decoration: none
        &:hover
            // background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%)
    .Submit_button
        +center
        border-radius: 35px
        width: 220px
        height: 40px
        font-weight: bold
        cursor: pointer
        &:hover
            background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%)

    .ToRegister
        margin-left: 0px
        left: 10px
