html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: radial-gradient(ellipse at center, #CBCBD4 0%, #e5e9ec 100%);
  display: flex;
}

.AccountBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fefefe;
  border: solid 1px #cdd8dc;
  border-radius: 6px;
  width: 900px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AccountBox h1 {
  font-size: 50px;
}

.AccountBox a {
  margin-left: 120px;
  font-size: 18px;
  color: #888;
}

.AccountBox .Loginsection {
  display: inline-flex;
  flex-direction: column;
}

.AccountBox .Loginsection a {
  margin-right: 10px;
  color: #888;
  align-self: flex-end;
}

.Account_text {
  display: inline-block;
  width: 400px;
  height: 40px;
  border: solid 1px #d4d8db;
  /* #b5d4e9 #f3f7f7*/
  background-color: #ffffff;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  color: #333;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.bottom_row {
  position: absolute;
  display: flex;
  bottom: 0px;
  padding: 40px;
  width: 818px;
  border: solid 1px #dde0e7;
  background: linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
}

.bottom_row .Submit_button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  font-weight: 500;
  border-radius: 35px;
  width: 220px;
  height: 40px;
  cursor: pointer;
}

.bottom_row .Submit_button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.verification {
  margin-left: 10px;
}

.verification_button {
  border: solid 2px black;
  padding: 5px;
  border-radius: 25px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
}

.verification_button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.CPN_RegisterBox {
  margin-top: 300px;
  margin-bottom: 300px;
  width: 900px;
  height: 1300px;
}

.CPN_RegisterBox h3 {
  font-size: 24px;
}

.CPN_RegisterBox ul {
  padding: 0;
  margin: 0;
}

.CPN_RegisterBox ul li {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.CPN_RegisterBox ul li label {
  align-self: flex-start;
  font-size: 16px;
  margin-left: 10px;
}

.CPN_RegisterBox ul li input[type="text"], .CPN_RegisterBox ul li input[type="password"] {
  padding: 12px;
  width: 400px;
  align-self: flex-start;
}

.CPN_RegisterBox ul .li-inline {
  margin-left: 0px;
  display: inline-flex;
}

.CPN_RegisterBox ul .li-inline label {
  margin-left: 10px;
}

.CPN_RegisterBox ul .li-inline input[type="text"], .CPN_RegisterBox ul .li-inline input[type="password"] {
  padding: 12px;
  width: 400px;
}

.CPN_RegisterBox .Section {
  position: relative;
}

.CPN_RegisterBox textarea {
  padding: 10px;
  margin-left: -15px;
  width: 850px;
  height: 90px;
}

.Register_select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Register_select .selectBox {
  background-color: #f6f6f6;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

.Register_select .selectBox:hover {
  border: solid 3px #888888;
  cursor: pointer;
}

.Register_select a {
  border-radius: 8px;
  text-decoration: none;
}

.Register_select a img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.Register_select a p {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
/*# sourceMappingURL=account.css.map */