#newBox {
  max-width: 1248px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#applyBox {
  max-width: 1248px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#applyBox .jobscont {
  min-width: 300px;
  min-height: 400px;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 30%;
  height: 35%;
  font-size: 32px;
  margin: 15px;
  border: solid 1px #000000;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

#applyBox .jobscont .job_img {
  max-width: 600px;
}

#applyBox .jobscont a {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

#applyBox .jobscont a img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#applyBox .jobscont a img:hover {
  background-color: #ddd;
}

#responseBox {
  width: 80%;
  min-width: 600px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#responseBox ul {
  background-color: #ddd;
  border: solid 1px;
  border-radius: 16px;
  padding: 20px;
}

#responseBox ul li {
  background-color: #DCE8F1;
  list-style: none;
  border: solid 1px;
  line-height: 25px;
  margin-bottom: 10px;
}

#responseBox ul li div {
  padding: 2px;
  margin-right: 10px;
}

#responseBox .leavecomment {
  background-color: #ddd;
  border: solid 1px;
  border-radius: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 1200px;
}

#responseBox .leavecomment * {
  margin: 1px;
}

#responseBox .leavecomment p {
  align-self: center;
  min-width: 32px;
}

#responseBox .leavecomment .author, #responseBox .leavecomment .gist {
  display: inline-flex;
  min-width: 100px;
  width: 49%;
}

#responseBox .leavecomment .author input[type="text"], #responseBox .leavecomment .gist input[type="text"] {
  width: 90%;
  height: 20px;
  max-width: 500px;
  margin: 10px;
}

#responseBox .leavecomment .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#responseBox .leavecomment .content p {
  align-self: flex-start;
}

#responseBox .leavecomment .content textarea {
  margin: 10px;
}

#pairBox {
  width: 80%;
  min-width: 600px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#job_Content {
  background-color: #fff;
  padding: 0px 40px;
  margin-top: 50px;
  width: 900px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#job_Content .job-description {
  margin-bottom: 40px;
  display: block;
  font-size: 24px;
}

#job_Content .job-description li {
  opacity: .8;
  height: 50px;
  line-height: 40px;
  display: block;
  list-style: none;
  margin-left: 20px;
  font-weight: 300;
}

#job_Content .job-description img {
  width: 20px;
  height: 20px;
  display: inline-block;
}

#job_Content .job-description p {
  opacity: .8;
  line-height: 40px;
  font-weight: 300;
  margin-left: 20px;
  display: inline-block;
}

#job_Content .bottom_row {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f5f8;
  border: solid 1px;
}

#job_Content .bottom_row .btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  padding: 5px;
}

#emailBox {
  border: solid 1px;
  background-color: #fff;
  position: relative;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 700px;
}

#emailBox .Towho p {
  margin-top: -5px;
  display: inline-block;
}

#emailBox .Towho input[type="email"] {
  width: 30%;
  height: 20px;
}

#emailBox .Content {
  margin-top: 10px;
}

#emailBox .Content textarea {
  width: 99%;
  height: 200px;
}

#emailBox input[type="submit"] {
  position: absolute;
  right: 30px;
  border-radius: 8px;
  bottom: 10px;
  font-size: 20px;
}

#resumeBox {
  background-color: #ddd;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px;
  height: auto;
  min-height: 900px;
  border: solid 1px;
}

#resumeBox .profile {
  background-color: #fff;
  border: solid 5px #DCE8F1;
  display: inline-flex;
  flex-direction: column;
}

#resumeBox .profile .profile-info-row {
  display: flex;
  margin: 5px;
  min-height: 36px;
}

#resumeBox .profile .profile-info-row .profile-info-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  width: 150px;
  background-color: #DCE8F1;
  padding: 5px;
}

#resumeBox .profile .profile-info-row .profile-info-name p {
  margin: 0px;
  letter-spacing: 0.5em;
}

#resumeBox .profile .profile-info-row .profile-info-value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #DCE8F1;
  width: 350px;
  padding: 5px;
  box-sizing: border-box;
}

#resumeBox .profile .profile-info-row .profile-info-value input {
  flex: 1;
  height: 100%;
  color: black;
  border: none;
  font-size: 16px;
}

#resumeBox .profile .profile-info-row .profile-info-value select {
  flex: 1;
  height: 100%;
  font-size: 16px;
}

#resumeBox .profile .profile-info-row .profile-info-value span {
  margin-left: 5px;
  margin-right: 5px;
  color: #72828a;
}

#resumeBox .profile .profile-info-row img {
  margin-left: 10px;
  width: 20px;
}

#resumeBox .profile .profile-info-row .erZipcode {
  padding: 10px;
}

#resumeBox .profile .profile-info-row .erZipcode .erTWZipcode {
  padding: 10px;
}

#resumeBox .profile .profile-info-row .erZipcode .erTWZipcode select {
  margin-bottom: 3px;
}

#resumeBox .profile .profile-info-row .erZipcode .erTWZipcode #address {
  width: 99%;
  height: 30px;
}

#resumeBox .profile .profile-info-row .erZipcode .PDFresume input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
}

#resumeBox .profile .edit {
  margin-left: auto;
  margin-right: auto;
}

#resumeBox .profile .edit .edit-modify, #resumeBox .profile .edit .edit-save {
  margin: 10px;
  display: inline-block;
  text-align: center;
  border: solid 1px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  width: 90px;
  background-color: #DCE8F1;
  cursor: pointer;
}

#resumeBox .profile .edit .edit-modify img, #resumeBox .profile .edit .edit-save img {
  width: 16px;
}

#resumeBox .profile .edit input {
  padding: 0px;
  background-color: #DCE8F1;
  font-size: 20px;
  border: 0;
}

#resumeBox .profile .edit a {
  text-decoration: none;
  color: black;
}

#reflectionBox {
  background-color: #ddd;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px;
  height: auto;
  min-height: 900px;
  border: solid 1px;
}

#reflectionBox .reflection {
  height: 900px;
}

#reflectionBox .reflection .reflection-row {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#reflectionBox .reflection .reflection-row .reflection-img img {
  width: 120px;
}

#reflectionBox .reflection .reflection-row .reflection-text {
  margin-left: 30px;
}

#reflectionBox .reflection .reflection-row .reflection-text .reflection-title {
  font-size: 24px;
}

#reflectionBox .reflection .reflection-row .reflection-text .reflection-content {
  opacity: .6;
}

#reflectionBox .reflection .reflection-row:hover {
  background-color: #ffffdd;
}

#methodBox {
  background-color: #ddd;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px;
  height: auto;
  min-height: 900px;
  border: solid 1px;
}

#methodBox h2 {
  margin-left: 15px;
}

#methodBox .process {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

#methodBox .process .step {
  background-color: #2a9ae4;
  margin: 10px;
  border: solid 1px;
  border-radius: 20px;
  max-width: 300px;
  min-width: 290px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

#methodBox .process .step h3 {
  opacity: .6;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

#methodBox .process .step hr {
  width: 100%;
}

#methodBox .process .step .action {
  margin: 20px;
  font-size: 26px;
  color: #d81212;
}

#methodBox .process .step p {
  font-size: 18px;
}

#methodBox .info {
  margin: 10px;
}
/*# sourceMappingURL=student.css.map */